
.home img {
  position: relative;
  height: 100vh;
  object-fit: cover;
}
.home .text {
  color: #222222;
  top: 32%;
  text-align: start;
}
.home .text span {
  font-family: Jost-Medium;
  text-transform: uppercase;
}
.home .text h1 {
  font-size: 60px;
  font-family: Jost-Medium;
  margin: 25px 0 !important;
}
.home .text p {
  font-family: Jost-Regular;

  margin-bottom: 15px;
}
.home .text .btnmain {
  background-color: #222222;
  color: white;
  font-family: Jost-Regular;
  transition: all 1s;
  text-transform: uppercase;
  padding: 13px 70px;
  border-radius: 2px;
  font-size: 13px;
  margin-top: 20px;
}
.home .text .btnmain:hover {
  background-color: #d4a533;
}
.featbags {
  background-color: white;
}
.featbags .carrd {
  background-color: white !important;
  width: 350px;
  padding: 18px 15px;
  margin: 0 15px;
  border: 1px solid rgba(211, 211, 211, 0.295) !important;
}
.featbags .carrd .cardImg {
  overflow: hidden;
}
.featbags .carrd:hover img {
  transform: scale(1.1);
}
.featbags .carrd span {
  color: #d4a533;
}
.featbags .carrd .alink,
.featbags .carrd .alink2 {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.featbags .carrd .alink2 {
  font-size: 12px;
}
.featbags .carrd .alink:hover,
.featbags .carrd .alink2:hover {
  color: #d4a533;
}
.headText span {
  color: #d4a533;
  font-family: Jost-Bold;
}
.headText h2 {
  font-size: 30px;
  margin: 20px 0 !important;
}
.headText p {
  color: #555555;
  font-family: Jost-Regular;
}
.highlights {
  margin-top: 30px;
}
.highlights .cardimg {
  position: relative;
  overflow: hidden;
}
.highlights .cardimg .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
}
.highlights .cardimg:hover .overlay {
  opacity: 1;
}
.highlights .cardimg:hover .overlay img {
  transform: scale(1.1);
}
.highlights .cardimg .overlay img {
  transition: all 1s;
}
.highlights .cardimg .overlay .icon {
  position: absolute;
  top: 20px;
  right: 15px;
}
.highlights .cardimg .overlay .icon .btn {
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 5px 9px;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px #0003;
  transition: all 0.5s;
}
.highlights .cardimg .overlay .icon .btn:hover {
  background-color: black;
  color: white;
}
.highlights .cardimg .overlay .icon2 .btn {
  position: absolute;
  bottom: 0px;
  width: 90%;
  left: 15px;
  padding: 8px;
  text-transform: capitalize;
  background-color: black;
  color: white;
  border-color: transparent;
  font-family: Jost-Medium;
  transition: all 0.5s;
}
.highlights .cardimg:hover .overlay .icon2 .btn {
  bottom: 25px;
}
.highlights h3 {
  font-size: 18px;
  margin-top: 25px;
  font-family: Jost-Medium;
  text-transform: capitalize;
  cursor: pointer;
}
.highlights .star {
  color: #868686;
  font-size: 13px;
  padding: 5px 0;
  margin-bottom: 5px;
}

.highlights .sale {
  font-family: Jost-SemiBold;
  margin-bottom: 5px;
}
.highlights .true {
  color: green;
}
.blog .cardd {
  width: 350px;
  margin: auto;
  margin-top: -60px;
  background-color: white;
}
.blog .cardd h4 {
  font-size: 18px;
  font-family: Jost-Medium;
  cursor: pointer;
  transition: all 0.8s;
}
.blog .cardd h4:hover {
  color: #d4a533;
}
.blog .cardd h6 {
  margin: 10px 0 !important;
  font-family: Jost-Regular;
  font-size: 14px;
}
.blog .btnn {
  border-radius: 0;
}
.imagg .leftImg,
.imagg .rightImg {
  position: relative;
}
.imagg .leftImg .imgText,
.imagg .rightImg .imgText {
  position: absolute;
  top: 40%;
  z-index: 5;
  left: 100px;
  margin: 0 auto;
  color: white;
}
.imagg .imgText h5{
  font-family: Jost-Medium;


}