@font-face {
  font-family: Jost-Black;
  src: url(../src/fonts/Jost-Black.ttf);
}
@font-face {
  font-family: Jost-Bold;
  src: url(../src/fonts/Jost-Bold.ttf);
}
@font-face {
  font-family: Jost-ExtraBold;
  src: url(../src/fonts/Jost-ExtraBold.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(../src/fonts/Jost-Regular.ttf);
}
@font-face {
  font-family: Jost-Light;
  src: url(../src/fonts/Jost-Light.ttf);
}
@font-face {
  font-family: Jost-Medium;
  src: url(../src/fonts/Jost-Medium.ttf);
}
